## Build (.NET)
bin/
obj/

## IDE
.vs/
*.user
*.suo

## База SQLite создаётся локально при запуске
*.db
*.db-shm
*.db-wal

## Тестовый проект apply-empty-tz
NewExamProject/

## Логи и OS
*.log
.DS_Store
Thumbs.db

## Общие бинарники
*.dll
*.exe
*.pdb
